* {
  box-sizing: border-box;
}
:root {
  --colorRed: red;
  --colorOrange: orange;
  --colorBlue: blue;
  --colorGreen: green;
  --colorBrown: brown;
  --colorBlack: black;
  --colorWhite: white;
  --bgc1: rgb(133, 51, 106);
  --bgc2: rgb(51, 133, 132);
}
@media (max-width: 300px) {
  .wrapper {
    padding: 0 20px;
    background-color: #a0eb83;
    color: var(--colorBrown);
  }
  .wrapper h1 {
    text-align: center;
  }
}
@media (min-width: 301px) {
  .wrapper {
    padding: 0 50px;
    background-color: #f4bebe;
  }
}
@media (min-width: 501px) {
  .wrapper {
    padding: 0 70px;
    background-color: #b9f3f6;
  }
}
@media (min-width: 901px) {
  .wrapper {
    padding: 0 100px;
    background-color: #6c9cf4;
  }
}
@media (min-width: 1201px) {
  .wrapper {
    padding: 0 120px;
    background-color: #aa71a9;
    color: white;
  }
  a {
    color: var(--bgc1);
    font-weight: 600;
  }
}
/* классы для позиционирования */
.section {
  margin-bottom: 15px;
}
.relative {
  position: relative;
}
.stiky {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
}
.title_color1 {
  background-color: var(--bgc1);
  color: var(--colorWhite);
  text-align: center;
}
.title_color2 {
  background-color: var(--bgc2);
  color: var(--colorWhite);
  text-align: center;
}
.title_size {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px;
}
/* Аккардион bg кнопки */
.accordion-button:not(.collapsed) {
  color: var(--colorWhite);
  background-color: var(--bgc1);
}
/* цвет кнопки Акорд при нажатии */
.accordion-button:not(.collapsed)::after {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
